/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

  .blog-post {
    margin-bottom: 30px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  .blog-post img {
    max-width: 100%;
    border-radius: 8px;
  }
  /* ///////// */
  .blog-post {
    background-color: #fff;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .blog-post:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  .blog-post img {
    width: 100%;
    height: auto;
  }

  .blog-post .p-3 {
    padding: 15px;
  }


.header-brand{
    background-color: white;
}

.button-search{
    padding: 0px;
    border: none;
    border-radius: 0px;
}

.icon-navbar{
    text-align: center;
    justify-content:space-between ;
    margin-right: 0px;
   
}



.navbar {
    padding: 0px;
    background-color: #fff !important;
   
    
}
/* chỉnh nút thu nhỏ của navabr thành màu trắng */



button.navbar-toggler{
    font-size: 20px;
    padding: 0px;
}

/* input.form-control,
.button-search{
    border-color: #58cbca;
   
} */

.fa-magnifying-glass{
    color: #58cbca;
}


input.form-control{
    border: none;
    border-radius: 0px;
}

.box-search{
    border-radius: 5px;
    border: solid #58cbca 2px;
   
}
.logo-navbar{
    padding: 0px;
}

.btn{
    text-align: center;
    justify-content: center;
    
}

.icon-shopping,
.icon-user,
.btn-hover{
    text-align: justify;
    color: #58cbca;
    
}

.btn-hover:hover{
    color: #fdec7b;
    background-color: #58cbca;
}



.list-item{
    height: 200px;
    gap: 20px;
}

.navbar-logo{
    height: 30px;
}

/* button up to top */
/*  */







.mau-nen-xanhnhat{
    background-color: #f0f4f8;
}

.nen-xanhnhat{
    background-color: #c4fcfb;
}

/* bo góc banner */
.carousel-inner img {
    border-radius: 5px; 
}

 /*   */
.mau-tim{
    color: #6755d8;
}
.nen-xam{
    background-color: #f8f8f8;
}


.mau-vang{
    color: #fdec7b;
}

 .nen-xanh{
    background-color: #58cbca;
}

.mau-xanh{
    color: #58cbca;
}
.mau-xanh:hover{
    color: #6755d8;
}

/* mail dưới footer */
.input-group{
    border: #58cbca solid 1px;
    border-radius: 7px;
}

input.form-control::placeholder{
    color: #58cbca;
}



/* hiệu ứng rê chuột */

.hover-effect {
    transition: transform 0.3s;
  }
  
  .hover-effect:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    
  }
  


/* .btn-brand{
    
    height: 2rem;
} */


/* icon dưới footer */
.btn-brand {
    display: inline-flex; /* Sử dụng flexbox để căn giữa nội dung */
    justify-content: center; /* Căn giữa nội dung theo chiều ngang */
    align-items: center; /* Căn giữa nội dung theo chiều dọc */
    width: 60px; /* Đặt chiều rộng cho nút */
    /* Đặt chiều cao cho nút */
    overflow: hidden; /* Ẩn phần nội dung vượt ra ngoài */
  }

  .btn-brand img {
    max-width: 100%; /* Đảm bảo hình ảnh không vượt quá kích thước nút */
    max-height: 100%; /* Đảm bảo hình ảnh không vượt quá kích thước nút */
    object-fit: contain; /* Giữ tỷ lệ khung hình của hình ảnh */
  }

/* ảnh banner */

a{
    text-decoration: none;
    color: #212529;
}


main{
    margin-top: 99px;
}



.link-connect-list,
.link-connect{
    
    text-decoration: none;
}

.link-connect:hover{
    text-decoration:underline;       
    text-underline-offset: 0.25em;   
    color: #6755d8;


}

.link-connect{
    color: #212529;
}
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    flex-grow: 1;
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover; /* Adjusts how the image is displayed */
}

.card-height {
    height: 250px;
}


.footer-top {
    color: #fdec7b;
    z-index: 100;
    padding: 10px;
    right: 10px;
    bottom: 5px;
    position: fixed;
    width: 50px;
    height: 50px;
}
.inputw{
    width: 50%;
}






@media (min-width: 438px) {
    .navbar-logo{
        height: 42px;
    }

    .box-search,
    .icon-shopping,
    .icon-user{
        height: 37px;
    }
} 

@media (min-width: 576px) {
    .navbar-logo{
        height: 44px;
    }
} 

@media (min-width: 768px) {
    .navbar-logo{
        height: 40px;
    }

    .row-reverse {
        flex-direction: row-reverse; /* Đảo ngược chiều hàng */
    }
}

   


@media (min-width: 992px) {
    .navbar-logo{
        height: 48px;
    }
} 



